 
$primary : rgba(6, 94, 83, 0.76);
$light : rgba(234, 236, 236, 0.925);


//  Link Bootstrap Scss
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Link Font Familes
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

#friend-list{

    height: 400px;

    img{
        width: 50px;
        height: 50px;
        align-self: start;
        border-radius: 50%;
    }
    span{
        font-weight: bold;
        align-self: center;
        padding-left: 10px;
    }
}
#messageBox{
    height: 400px;

    
    .input{
        align-self: flex-end;
    }
}

.box-shadow-me{
    -webkit-box-shadow: 0px 10px 62px -19px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 10px 62px -19px rgba(0,0,0,0.6);
    box-shadow: 0px 10px 62px -19px rgba(0,0,0,0.6);
}
